body {
    background: black;
    color: #fff;
    font-family: "Pixelify Sans", sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
}
p{
    color: white;
}

img {
    border-radius: 50%;
  }

.profile-picture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    height: auto;
    max-width: 100px;
  }

.profile-name {
      text-align: center;
      padding: 0px;
  }

.links {
      text-align: center;
      margin-top: 20px;
      padding: 20px;
      border: 1px solid white;
      border-width: 2px;
      width: 290px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      border-radius: 0px;
  }

a {
    text-decoration: none;
    color: white;
    transition: color 1s; 
}

.bottom-text {
    text-align: center;
    margin-top: 40px;
    font-size: 15px;
    font-weight: bold;
}

.rainbow_text_animated {
    background: linear-gradient(to right, #6666ff, #0099ff , #00ff00, #ff3399, #6666ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 6s ease-in-out infinite;
    background-size: 400% 100%;
}

@keyframes rainbow_animation {
    0%,100% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 0;
    }
}

.blue{
    color:blue;
}

.link {
    color: white;
    font-weight: bold;
    position: relative;
    text-decoration: none;
    animation: glow 1s infinite alternate;
}

@keyframes glow {
    0% {
        text-shadow: 0 0 5px #6666ff, 0 0 10px #0099ff;
        color: #fff;
    }
    50% {
        text-shadow: 0 0 10px #00ff00, 0 0 20px #ff3399;
        color: #fff;
    }
    100% {
        text-shadow: 0 0 15px #6666ff, 0 0 30px #ff3399;
        color: #fff;
    }
}
